.float-container {
  border: 3px solid #fff;
  padding: 20px;
}
.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  border: 2px solid red;
}
.flex-container {
  display: flex;
  padding: 20px;
}

.flex-child {
  flex: 1;
  border: 2px solid black;
  padding: 20px;
  margin-right: 20px;
}

.flex-child:first-child {
  margin-right: 20px;
}
.results {
  background-color: #e5e4e2;
  padding: 15px;
  font-size: 1.3em;
  border-radius: 10px;
}
.wrapper {
  width: 1200px;
  margin: auto;
}
.selection-wrapper {
  width: 800px;
  margin: auto;
}
.warning > p {
  text-align: center;
}
