<html>
  <head>
    <title>ROP RegExr</title>
    <link href="{{url_for("static", filename="main.css")}}" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <h1>ROP Regexr</h1>
      <hr />
      <form method="post">
        <label for="action">Choose an action:</label>
        <select name="action" id="action-select" onchange="getRegexs()">
          {% for key, value in available_actions.items() %}
          <option value="{{ key }}" {% if selected_action==key %}selected{% endif %}>{{value["name"]}}</option>
          {% endfor %}
        </select>
        <div class="selection-wrapper">
          <div class="warning" id="warning"></div>
          <div class="flex-container">
            <!-- Source -->
            <div class="flex-child">
                <p>Source</p>
                <ul>
                    {% for reg in registers %}
                    <li>
                      <label for="source-{{ reg }}">
                        <input type="radio" id="source-{{ reg }}" name="source-radios" value="{{ reg }}" {% if source==reg %}checked{% endif %} onclick="getRegexs();"/>
                        {{ reg.upper() }}
                      </label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- dest -->
            <div class="flex-child">
              <p>Dest</p>
                <ul>
                    {% for reg in registers %}
                    <li>
                        <label for="dest-{{reg}}">
                          <input type="radio" id="dest-{{reg}}" name="dest-radios" value="{{reg}}" {% if dest==reg %}checked{% endif %} onclick="getRegexs();"/>
                          {{reg.upper()}}
                        </label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="flex-child">
              <p>Options</p>
              <ul>
                {% for key, value in options.items() %}
                <li>
                  <label for="option-{{key}}">
                    <input type="checkbox" id="{{key}}" name="option-checkboxes" {% if options[key]['status'] %}checked{% endif %} onclick="getRegexs();"/>
                    {{options[key]["name"]}}
                  </label>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </form>
    </div>
    <hr />
    <div class="results" id="results">
    </div>
    <script src="{{url_for("static", filename="main.js")}}"></script>
  </body>
</html>
